@model CLAD.Models.Consultant

@{
    ViewData["Title"] = "Details";
}

<h1>
    @Html.DisplayFor(model => model.DisplayName)
</h1>
<img src="~/img/omar.jpg">
<div>
    <hr />
    <dl class="row">
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
