    @model IEnumerable<CLAD.Models.Consultant>

@{
    ViewData["Title"] = "Index";
}

<div class="container">


    <h1>Consultant overzicht</h1>
    <br />
    <hr />
    <br />
    <div id="consultant">
        <input id="filter" type="text" placeholder="Search..">
        <div class="container">
            <div class="row justify-content-start">

                @foreach (var item in Model)
                {

                    <div class="col-3">
                        <a asp-action="Details" asp-route-id="@item.Id"> <img src="~/img/@Html.DisplayFor(modelitem => item.ImgName)" class="imgconsultant"></a>
                        <p>@Html.DisplayFor(modelitem => item.DisplayName)</p>
                    </div>
                }
            </div>
        </div>
    </div>
    <a asp-action="Create" class="btn btn-outline-primary">Consultant toevoegen</a>
</div>