/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 2px solid #e5e5e5;
  padding-bottom: 20px;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */

}
.footer {
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  background-color: #f7f7f7;
  /* Set the fixed height of the footer here */
  height: 100px;
  line-height: 100px; /* Vertically center the text there */
}
/* UPLOAD BUTTON */

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.uploadbutton {
    background-color: white;
    border: 1px solid black;
    color: black;
    border-radius: 25px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}
.uploadbutton:hover {
    background-color: #f2f2f2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: black;
    text-decoration: none;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}


/* CONSULTANT PAGE */

.imgconsultant {
    width: 200px !important;
    height: 200px !important;
    border-radius: 50%;
    margin-bottom: 25%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.imgconsultant:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);

}
.card-img-top {
    width: 250px;
    height: 250px;
}
.descriptipon {
    margin-bottom: 200px;
    margin-top: -200px;
    display: inline;
    width: 80%;
}
.card-container {
    width: 18rem;
    margin-left: 2%;
    margin-top: -10%;
    float: left;
}

.btn-white-round {
    font-size: 20px;
    text-align: center;
    background-color: white;
    color: black;
    border-radius: 25px;
    position: absolute;
    width: 250px;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-white-round:hover {
    background-color: #f2f2f2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: black;
    text-decoration: none;  
}
div.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin-bottom: 10%;
    width: 250px;
} 

