@page
@model LoginModel

@{
    ViewData["Title"] = "Inloggen";
}

<link href="~/css/Login.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        <div class="col-md-6 page-content">
            <section>
                <form id="account" method="post">
                    <h4>Gebruik uw account om in te loggen.</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email">Email</label>
                        <input asp-for="Input.Email" placeholder="Uw email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password">Wachtwoord</label>
                        <input asp-for="Input.Password" placeholder="Uw wachtwoord" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                Wachtwoord onthouden
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Inloggen</button>
                    </div>
                    <div class="form-group">
                        <p>
                            <a id="forgot-password" asp-page="./ForgotPassword">Wachtwoord vergeten?</a>
                        </p>

                    </div>
                </form>
            </section>
        </div>
        <div class="col-md-6 page-content">
            <h4>Heeft u nog geen account? registreer <a asp-page="./Register">hier</a>.</h4>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
