@model CLAD.Models.Answer

@{
    ViewData["Title"] = "Create";
}
<div class="container">

    <h4>Answer</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Consultant" class="control-label">Consultant    </label>
                    <select asp-for="ConsultantId" class="form-control" asp-items="ViewBag.ConsultantDisplayName"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label">Onderwerp</label>
                    <input asp-for="Title" class="form-control" value="test" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Content" class="control-label"></label>
                    <textarea asp-for="Content" class="form-control" cols="20" rows="3"></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
